[Desktop Entry]
Type=Application
Version=1.0
Name=Rootlink
GenericName=File Browser
Comment=Browse and manage files with Rootlink
Exec=rootlink %f
Icon=rootlink
Terminal=false
Categories=System;FileTools;FileManager;Qt;
MimeType=inode/directory;
StartupNotify=true
StartupWMClass=rootlink
Keywords=file;files;folder;folders;directory;browser;manager;finder;wayland;sway;
